<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link href="https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
	<title>HISTORIA</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body  class="d-flex flex-column">
	<!----donde va en nav de about ---->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand text-success" href="/">CURSO DE NODE.JS</a>
		<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNav"
		aria-controls="navbarNav"
		aria-expanded="false"
		aria-label="Toggle navigation"
		>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item ">
				<a class="nav-link text-success" href="/"
				>INICIO <span class="sr-only text-success">(current)</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link text-success" href="/quotes">IMAGENES</a>
			</li>
			<li class="nav-item active text-success">
				<a class="nav-link text-success" href="/about">HISTORIA</a>
			</li>
		</ul>
	</div>
</nav>
<!--- donde va el cuerpo del about --->
<div id="page-content" style="margin-top: 300px">
	<div class="container text-center">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<h1 class="font-weight-light text-warning">
		          GRANDES PERSONAJES DE LA HISTORIA
				</h1>
				<p class="lead text-warning text-center">
					<hr>
					Estos personaje aportaron un granito de arena para  que nuestro vida se mejos.
				</p>
			</div>
		</div>
	</div>
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
	<div class="container text-center">
		<small>© The Node.js Bible course</small>
	</div>
</footer>

</body>
</html>